<?xml version='1.0' encoding='utf-8'?>

<!-- The contents of this file will be loaded for each web application -->
<Context>
    <Resource name="jdbc/neediigo"
              auth="Container"
              type="javax.sql.DataSource"
              username="root"
              password="root"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/needii_go?useUnicode=true&amp;characterEncoding=utf-8"
              maxTotal="100"
              maxIdle="10"
              maxWaitMillis="10000"/>

    <Environment name="neediigo/springProfilesActive" type="java.lang.String" value="dev"/>  <!-- ACTIVE PROFILE -->
</Context>
